/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-block: 15px;
  z-index: 1;
}

.header.active .header-top {
  position: fixed;
  background: var(--gunmetal);
}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}

.helpline-box .wrapper {
  display: none;
}

.helpline-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: var(--white);
  text-decoration: none;
}

.helpline-box .icon-box {
  background: var(--bright-navy-blue);
  padding: 6px;
  border-radius: 50%;
  color: var(--white);
  font-size: 16px;
}

.helpline-box .icon-box ion-icon {
  --ionicon-stroke-width: 40px;
}

.helpline-title,
.helpline-number {
  font-size: var(--fs-6);
  color: var(--white);
}

.header-top .logo {
  margin-inline: auto;
}

.logo-text {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  font-family: var(--ff-montserrat);
  letter-spacing: 2px;
}

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

.search-btn,
.nav-open-btn {
  font-size: 30px;
  color: inherit;
}

.search-btn {
  font-size: 20px;
}

.header-bottom {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: var(--white);
  padding: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 15px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) {
  background: hsla(0, 0%, 100%, 0.2);
}

.header .btn {
  --padding: 4px 20px;
}

.header .navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.navbar-top .logo-text {
  color: var(--bright-navy-blue);
}

.nav-close-btn {
  font-size: 20px;
  color: var(--bright-navy-blue);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 80px;
}

.navbar-list {
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-list li {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-link {
  padding: 15px 20px;
  color: var(--jet);
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  transition: var(--transition);
  text-transform: capitalize;
  cursor: pointer;
}

.navbar-link:is(:hover, :focus) {
  color: var(--bright-navy-blue);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

/* Responsive */

@media (min-width: 580px) {
  .header {
    padding-top: 83px;
  }

  .helpline-box .icon-box {
    padding: 14px;
  }

  .search-btn {
    font-size: 30px;
  }

  .nav-open-btn {
    font-size: 40px;
  }

  .header .btn {
    --fs-5: 14px;
    --padding: 6px 20px;
  }
}

@media (min-width: 768px) {
  .helpline-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .helpline-box .wrapper {
    display: block;
    color: var(--white);
    font-size: var(--fs-6);
  }

  .social-list {
    gap: 10px;
  }
}

@media (min-width: 992px) {
  .header.active .header-top {
    position: unset;
    background: unset;
  }

  .nav-open-btn,
  .navbar-top {
    display: none;
  }

  .header-bottom {
    border-bottom: none;
  }

  .header.active .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    color: var(--onyx);
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
    transition: var(--transition);
  }

  .header-bottom .container {
    padding-block: 0;
  }

  .header .navbar {
    all: unset;
  }

  .navbar-list {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-list li {
    border-bottom: none;
  }

  .navbar-link {
    color: var(--white);
    --fs-4: 16px;
    font-weight: unset;
    text-transform: uppercase;
    padding: 20px 15px;
  }

  .header.active .navbar-link {
    color: var(--onyx);
  }

  .header.active .navbar-link:is(:hover, :focus) {
    color: var(--bright-navy-blue);
  }

  .header.active .social-link {
    color: var(--onyx);
    border-color: hsla(0, 0%, 0%, 0.15);
  }

  .overlay {
    display: none;
  }
}
