/*-----------------------------------*\
 * #POPULAR (Our Dates)
\*-----------------------------------*/

.popular {
  padding-block: var(--section-padding);
}

.popular-list,
.popular-list > li:not(:last-child) {
  margin-bottom: 30px;
}

.popular-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-25);
  height: 430px;
}

.popular-card .card-img {
  height: 100%;
}

.popular-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-card .card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: var(--white);
  border-radius: var(--radius-25);
  padding: 20px;
}

.popular-card .card-rating {
  background: var(--bright-navy-blue);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.popular-card .card-subtitle {
  color: var(--blue-ncs);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.popular-card .card-title {
  margin-bottom: 5px;
}

.popular-card :is(.card-subtitle, .card-title) > span {
  color: inherit;
}

.popular .btn {
  margin-inline: auto;
}

.spotify-btn {
  font-size: var(--fs-6);
  padding: 6px 16px;
}

/* Responsive */
@media (min-width: 768px) {
  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  .popular-list > li:not(:last-child) {
    margin-bottom: 0;
  }

  .popular-card .card-content {
    right: 20px;
  }
}

@media (min-width: 992px) {
  .popular-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
